[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clipboard = "*"
selenium = "*"
requests = "*"
bs4 = "*"
lxml = "*"
pysnooper = "*"

[dev-packages]
pylint = "*"
yapf = "*"
flake8 = "*"

[requires]
python_version = "3.5"
